$defaultInputBorder: hsl(0,0%,80%);
$defaultInputBorderHightlight: #2694ff;
$defaultInputInvalidBorder: #d9534f;
$defaultInputReadOnly: #f3f3f3;

.form-container {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: color 0.2s;
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    .text-field, .textarea-field {
        border-radius: 3px;
        background: none;
        outline: none;
        border: none;
        border: 1px solid $defaultInputBorder;
        padding: 10px 0px 10px 5px;
        transition: all 0.2s;
        transition-property: border-color, background-color;
        &:focus {
            border-color: $defaultInputBorderHightlight;
        }

        &.invalid {
            + label {
                color: $defaultInputInvalidBorder;
            }
            border: 1px solid $defaultInputInvalidBorder;
        }

        &.readOnly {
            background: $defaultInputReadOnly
        }
    }

    .textarea-field {
        width: 100%;
        height: 50px;
    }

    .text-field, .select-field {
        flex-grow: 1;
    }

    label, .label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right:10px;
        font-size: 13px;
        transition: color 0.2s;
    }

    .radio-group-field, .checkbox-group-field {
        display: flex;
        .radio-field, .checkbox-field {
            display: flex;   
        }
        input[type=radio], input[type=checkbox]
        {
             -webkit-appearance: none;
             -moz-appearance: none;
             appearance: none;
             display: inline-block;
             position: relative;
             background-color: #f1f1f1;
             color: #666;
             height: 20px;
             width: 20px;
             border: 0;
             border-radius: 50px;
             cursor: pointer;     
             margin-right: 7px;
             outline: none;
        }
        input[type=checkbox] {
            border-radius: 3px;
        }
        input[type=radio]:checked::before, input[type=checkbox]:checked::before
        {
             position: absolute;
             font: 13px/1 'Open Sans', sans-serif;
             left: 7px;
             top: 3px;
             content: '\02143';
             transform: rotate(40deg);
        }
        input[type=radio]:hover, input[type=checkbox]:hover
        {
             background-color: #f7f7f7;
        }
        input[type=radio]:checked, input[type=checkbox]:checked
        {
             background-color: #f1f1f1;
        }
        label
        {
             color: #333;
             -webkit-font-smoothing: antialiased;
             -moz-osx-font-smoothing: grayscale;
             cursor: pointer;
        } 
    }
    .invalid{
        color: $defaultInputInvalidBorder;
    }
}